.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 855.8511363926248px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -33px;
	margin-bottom: 62px;
}

#pu1691
{
	width: 0.01px;
	left: -2px;
	position: relative;
}

#u1691
{
	z-index: 2;
	width: 962px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u1691_clip
{
	overflow: hidden;
	width: 962px;
	height: 250px;
}

#u1691_img
{
	margin: -75px -1px -33px 1px;
}

#u1693
{
	z-index: 4;
	width: 228px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 727px;
}

#u1700
{
	z-index: 5;
	width: 192px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 727px;
}

#u1654
{
	z-index: 41;
	width: 46px;
	height: 42px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,23);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,23);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,23);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,23);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 559px;
}

#menuu1702
{
	z-index: 42;
	width: 452px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 128px;
}

#u1703
{
	width: 111px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u1706
{
	width: 111px;
	background-color: #000000;
	padding-bottom: 12px;
	position: relative;
}

#u1706:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1709-4
{
	width: 111px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u1706:hover #u1709-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1706:active #u1709-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1710
{
	width: 111px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u1713
{
	width: 111px;
	background-color: #000000;
	padding-bottom: 12px;
	position: relative;
}

#u1713:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1714-4
{
	width: 111px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u1706.MuseMenuActive #u1709-4,#u1713:hover #u1714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1713:active #u1714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1730
{
	width: 112px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u1733
{
	width: 112px;
	background-color: #000000;
	padding-bottom: 12px;
	position: relative;
}

#u1733:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1706:active,#u1713:active,#u1733:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1735-4
{
	width: 112px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u1713.MuseMenuActive #u1714-4,#u1733:hover #u1735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1733:active #u1735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1762
{
	width: 112px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u1763
{
	width: 112px;
	background-color: #000000;
	padding-bottom: 12px;
	position: relative;
}

#u1763.MuseMenuActive
{
	background-color: #000000;
	margin: 0px;
}

#u1764-4
{
	width: 112px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-family: arvo, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#u1733.MuseMenuActive #u1735-4,#u1763:hover #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1763:active #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1763.MuseMenuActive #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1706.MuseMenuActive #u1709-4 p,#u1713.MuseMenuActive #u1714-4 p,#u1733.MuseMenuActive #u1735-4 p,#u1763.MuseMenuActive #u1764-4 p
{
	font-size: 18px;
	font-family: arvo, serif;
	font-weight: 400;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1690
{
	z-index: 67;
	width: 47px;
	height: 34px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 2px;
}

#u1655
{
	z-index: 68;
	width: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 10px;
}

#u1653-35
{
	z-index: 6;
	width: 877px;
	min-height: 516px;
	text-align: left;
	color: #FFFFFF;
	font-family: spinnaker, sans-serif;
	font-weight: 400;
	margin-left: 30px;
	margin-top: 38px;
	position: relative;
}

#u1653-2,#u1653-3,#u1653-5,#u1653-19,#u1653-21
{
	font-size: 30px;
}

#u1653-8,#u1653-10,#u1653-25
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1653-8  span,#u1653-10  span,#u1653-25  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u1653-24
{
	font-size: 24px;
	color: #FF0000;
}

#u1653-7,#u1653-9,#u1653-12,#u1653-14,#u1653-16,#u1653-18,#u1653-23,#u1653-27,#u1653-29,#u1653-31,#u1653-33
{
	font-size: 24px;
}

body
{
	padding-bottom: 14px;
}

#page .verticalspacer
{
	clear: both;
}

